@using dreport.Models;

@{
    Layout = null;


    List<LabonItem> listOfItems = (List<LabonItem>)Session["listOfItems"];
    List<Dictionary<string, object>> WorkOrders = (List<Dictionary<string, object>>)Session["WorkOrders"];
    List<Dictionary<string, object>> Products = (List<Dictionary<string, object>>)Session["Products"];
    List<Dictionary<string, object>> Documents = (List<Dictionary<string, object>>)Session["Documents"];
    List<Dictionary<string, object>> documents = new List<Dictionary<string, object>>();
    foreach (Dictionary<string, object> v in Documents)
    {
        if (v.First(x => x.Key.Equals("DocumentTypeDescription")).Value.ToString().Equals("Goods Transfer") && v.First(x => x.Key.Equals("DocumentComments")).Value.ToString().ToLower().Contains("issue"))
        {
            documents.Add(v);
        }

    }
       int colorNumber = 0;
    int srNo = 0;
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    
    <title>Production Report</title>
    
    <link rel="icon" type="image/gif/png" href="../../Content/labon_title.png">

</head>
<body style="background-color: #f2f4f7; min-height: 841.89px">


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script type='text/javascript'>
        function makePDF() {
            html2canvas(document.body, {
                onrendered: function (canvas) {

                    var contentWidth = canvas.width;
                    var contentHeight = canvas.height;

                    //The height of the canvas which one pdf page can show;
                    var pageHeight = contentWidth / 592.28 * 841.89;
                    //the height of canvas that haven't render to pdf
                    var leftHeight = contentHeight;
                    //addImage y-axial offset
                    var position = 0;
                    //a4 format [595.28,841.89]
                    var imgWidth = 595.28;
                    var imgHeight = 592.28 / contentWidth * contentHeight;

                    var pageData = canvas.toDataURL('image/jpeg', 1.0);

                    var pdf = new jsPDF('', 'pt', 'a4');

                    if (leftHeight < pageHeight) {
                        pdf.addImage(pageData, 'JPEG', 0, 40, imgWidth, imgHeight);
                    } else {
                        while (leftHeight > 0) {
                            pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                            leftHeight -= pageHeight;
                            position -= 841.89;
                            //avoid blank page
                            if (leftHeight > 0) {
                                pdf.addPage();
                            }
                        }
                    }

                    pdf.save('Production Report.pdf');
                }
            })

        }
    </script>



    <div id="content">

        <div>
            <table style="width:100%;border-collapse:collapse; background-color:#ffffff; ">
                <tbody>
                    <tr style="border:1px solid black;">
                        <td rowspan="5" style="padding: 5px; border: 1px solid black; "><div style="width:90%"><img src="../../Content/labonlogo.jpg" /></div> </td>
                    </tr>
                    
                    <tr><td rowspan="2" colspan="2" style="border:1px solid black; border:1px solid black">
                        <div><p style="font-weight:bold;text-align:center; margin-bottom:-3px; "><span style="font-size: 12pt;">
                            Sialkot Dealership</span></p><p style="text-align:center;font-size: 12pt; ">Soni Street, Market Road, Model Town, Sialkot, Pakistan.</p></div></td></tr>
                </tbody>
            </table>
            <a style="margin-top:2%" class="button" href="javascript:exportTableToCSV('Production Report.csv')">Export This Table to Excell</a>
            <a style="margin-left:65%" href="javascript:makePDF()" class="button">Print this Document.</a>

        </div><br />

        <h3 style="font-weight:bold;text-align:center;padding-top:3px; padding-bottom:2px; border-bottom: 2px solid #000000; border-top: 2px solid #000000;margin-bottom:15px">Labon Production Report </h3>
        <table id="example" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="border: .5px solid black; width: 3%;">Sr#</th>
                    <th style="border: .5px solid black; width: 12%;">Date</th>
                    <th style="border: .5px solid black; width: 12%;">Sub Supplier Name</th>
                    <th style="border: .5px solid black; width: 10%;">Tracking Code</th>
                    <th style="border: .5px solid black; width: 10%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>                    
                    <th style="border: .5px solid black; width: 18%;">QNT Sent</th>
                    <th style="border: .5px solid black; width: 3%;">QNT Used</th> 
                    <th style="border: .5px solid black; width: 8%;">Returned QNT</th>
                    <th style="border: .5px solid black; width: 8%;">Waste Knitt</th>                
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Knitt</th>

                    <th style="border: .5px solid black; width: 8%;">Waste Wash</th>
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Washed</th>
                    
                    <th style="border: .5px solid black; width: 8%;">Waste Dying</th>
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Dyed</th>

                    <th style="border: .5px solid black; width: 8%;">Waste Weaving</th>
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Weaved</th>

                    <th style="border: .5px solid black; width: 8%;">Waste Finishing</th>
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Finished</th>
                </tr>
            </thead>


            <tbody>
                @foreach(LabonItem labonItem in listOfItems)
                {
                    int rowspan = labonItem.SKU_ProductSent.Count();
                   
                   for (int i = 0; i < rowspan; i++ )
                    {
                        try
                        {
                             <tr>
                            @if (i == 0) { 
                                    
                                <td >@labonItem.srNo</td>
                                <td >@labonItem.date</td>
                                <td >@labonItem.contactPerson</td>
                                <td >@labonItem.documentCode</td>
                            }
                            else
                            {
                                <td >@labonItem.srNo</td>
                                <td >-</td>
                                <td >-</td>
                                <td >-</td>
                            }


                                <td>@labonItem.SKU_ProductSent.ToArray()[i]</td>
                                <td>@labonItem.Desc_ProductSent.ToArray()[i]</td>

                                 @if (labonItem.QNT_Sent.Count() > i)
                                 {
                                     <td>@labonItem.QNT_Sent.ToArray()[i]</td>
                                 }
                                 else
                                 {
                                     <td>-</td>
                                 }
                                 @if (labonItem.QNT_Used.Count() > i)
                                 {
                                     <td>@labonItem.QNT_Used.ToArray()[i]</td>
                                 }
                                 else
                                 {
                                     <td>-</td>
                                 }
                                 
                              
                                 @if(labonItem.QNT_Returned.Count()>i)
                                 { 
                                   <td>@labonItem.QNT_Returned.ToArray()[i]</td>
                                 }
                                 else
                                 {
                                      <td>-</td>
                                 }

                                 @if (labonItem.QNT_Waste.Count() > i)
                                {
                                    <td>@labonItem.QNT_Waste.ToArray()[i]</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }


                              
                                
                                 
                                 @if(i==0)
                                 {

                                     int j = 0;
                                 
                                     
                                     bool flag = false;
                                        for (j = 0; j < labonItem.Desc_ProductReceived.Count(); j++)
                                        {
                                            if (labonItem.FPKeys.ToArray()[j].Contains("nit")) {
                                                flag = true;
                                                break;
                                            }
                                        }
                                        if (flag)
                                        {

                                            flag = false;
                                            <td >@labonItem.SKU_ProductReceived.ToArray()[j]</td>
                                            <td >@labonItem.Desc_ProductReceived.ToArray()[j]</td>
                                            <td >@labonItem.QNT_Received.ToArray()[j]</td>
                                        
                                        }
                                        else
                                        {
                                             
                                           <td >-</td><td >-</td><td >-</td>                       
                                        
                                        }
                        
                                     
                                     
                                        j = 0;
                                        for (j = 0; j < labonItem.Desc_ProductReceived.Count(); j++)
                                        {
                                            if (labonItem.FPKeys.ToArray()[j].Contains("ash"))
                                            {
                                                flag = true;
                                                break;
                                            }
                                        }
                                        if (flag)
                                        {
                                            flag = false;
                                              if (labonItem.QNT_1_Waste.Count() > i)
                                             { 
                                               <td>@labonItem.QNT_1_Waste.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }
                                              if (labonItem.SKU_ProductReceived.Count() > i)
                                             { 
                                               <td>@labonItem.SKU_ProductReceived.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                              if (labonItem.Desc_ProductReceived.Count() > i)
                                             { 
                                               <td>@labonItem.Desc_ProductReceived.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                              if (labonItem.QNT_Received.Count() > i)
                                             { 
                                               <td>@labonItem.QNT_Received.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                              
                                          
                                        
                                        }
                                        else
                                        {
                                             
                                            <td >-</td><td >-</td><td >-</td><td >-</td>                           
                                        
                                        }


                                        for (j = 0; j < labonItem.Desc_ProductReceived.Count(); j++)
                                        {
                                            if (labonItem.FPKeys.ToArray()[j].Contains("y"))
                                            {
                                                flag = true;
                                                break;
                                            }
                                        }
                                        if (flag)
                                        {
                                            flag = false;
                                            if (labonItem.QNT_1_Waste.Count() > i)
                                             { 
                                               <td>@labonItem.QNT_1_Waste.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }
                                              if (labonItem.SKU_ProductReceived.Count() > i)
                                             { 
                                               <td>@labonItem.SKU_ProductReceived.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                              if (labonItem.Desc_ProductReceived.Count() > i)
                                             { 
                                               <td>@labonItem.Desc_ProductReceived.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                              if (labonItem.QNT_Received.Count() > i)
                                             { 
                                               <td>@labonItem.QNT_Received.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                        
                                        }
                                        else
                                        {
                                         
                                            <td >-</td><td >-</td><td >-</td><td >-</td>                           
                                         
                                        }

                                        for (j = 0; j < labonItem.Desc_ProductReceived.Count(); j++)
                                        {
                                            if (labonItem.FPKeys.ToArray()[j].Contains("eave") || labonItem.FPKeys.ToArray()[j].Contains("oat"))
                                            {
                                                flag = true;
                                                break;
                                            }
                                        }
                                        if (flag)
                                        {
                                            flag = false;
                                          if (labonItem.QNT_1_Waste.Count() > i)
                                             { 
                                               <td>@labonItem.QNT_1_Waste.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }
                                              if (labonItem.SKU_ProductReceived.Count() > i)
                                             { 
                                               <td>@labonItem.SKU_ProductReceived.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                              if (labonItem.Desc_ProductReceived.Count() > i)
                                             { 
                                               <td>@labonItem.Desc_ProductReceived.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                              if (labonItem.QNT_Received.Count() > i)
                                             { 
                                               <td>@labonItem.QNT_Received.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                         
                                        }
                                        else
                                        {
                                          
                                            <td >-</td><td >-</td><td >-</td><td >-</td>                           
                                         
                                        }



                                        for (j = 0; j < labonItem.Desc_ProductReceived.Count(); j++)
                                        {
                                            if (labonItem.FPKeys.ToArray()[j].Contains("nish"))
                                            {
                                                flag = true;
                                                break;
                                            }
                                        }
                                        if (flag)
                                        {
                                            flag = false;
                                             if (labonItem.QNT_1_Waste.Count() > i)
                                             { 
                                               <td>@labonItem.QNT_1_Waste.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }
                                              if (labonItem.SKU_ProductReceived.Count() > i)
                                             { 
                                               <td>@labonItem.SKU_ProductReceived.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                              if (labonItem.Desc_ProductReceived.Count() > i)
                                             { 
                                               <td>@labonItem.Desc_ProductReceived.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                              if (labonItem.QNT_Received.Count() > i)
                                             { 
                                               <td>@labonItem.QNT_Received.ToArray()[j]</td>
                                             }
                                             else
                                             {
                                                  <td>-</td>
                                             }

                                         
                                        }
                                        else
                                        {
                                          
                                            <td >-</td><td >-</td><td >-</td><td >-</td>                           
                                         
                                        }
                    
                                    
                                 }
                                 else
                                 {
                                      <td >-</td><td >-</td><td >-</td>  
                                      <td >-</td><td >-</td><td >-</td><td >-</td>     
                                      <td >-</td><td >-</td><td >-</td><td >-</td>   
                                      <td >-</td><td >-</td><td >-</td><td >-</td>  
                                      <td >-</td><td >-</td><td >-</td><td >-</td>         
                                 }
                                                
                        
                             </tr>
                        }
                        catch (Exception ee) 
                       { 
                        
                        <h2>@ee.Data</h2>
                        }
                     } 
                   
                    
                      
                }
                


            </tbody>

           
            <tfoot>
                <tr>
                    <th style="border: .5px solid black; width: 3%;">Sr#</th>
                    <th style="border: .5px solid black; width: 12%;">Date</th>
                    <th style="border: .5px solid black; width: 12%;">Sub Supplier Name</th>
                    <th style="border: .5px solid black; width: 10%;">Tracking Code</th>
                    <th style="border: .5px solid black; width: 10%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 18%;">QNT Sent</th>
                    <th style="border: .5px solid black; width: 3%;">QNT Used</th>
                    <th style="border: .5px solid black; width: 8%;">Returned QNT</th>
                    <th style="border: .5px solid black; width: 8%;">Waste Knitt</th>
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Knitt</th>

                    <th style="border: .5px solid black; width: 8%;">Waste Wash</th>
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Washed</th>

                    <th style="border: .5px solid black; width: 8%;">Waste Dying</th>
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Dyed</th>

                    <th style="border: .5px solid black; width: 8%;">Waste Weaving</th>
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Weaved</th>

                    <th style="border: .5px solid black; width: 8%;">Waste Finishing</th>
                    <th style="border: .5px solid black; width: 8%;">Code</th>
                    <th style="border: .5px solid black; width: 8%;">Description</th>
                    <th style="border: .5px solid black; width: 8%;">QNT Fabric Finished</th>
                </tr>
            </tfoot>
        </table>
        <script type="text/javascript" charset="utf8" src="../../Content/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" charset="utf8" src="../../Content/jquery.dataTables.min.js"></script>
        <script>

            $(function () {
                $("#example").dataTable();

            })

        </script>

    </div>


    <script>
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;

            // CSV file
            csvFile = new Blob([csv], { type: "text/csv" });

            // Download link
            downloadLink = document.createElement("a");

            // File name
            downloadLink.download = filename;

            // Create a link to the file
            downloadLink.href = window.URL.createObjectURL(csvFile);

            // Hide download link
            downloadLink.style.display = "none";

            // Add the link to DOM
            document.body.appendChild(downloadLink);

            // Click download link
            downloadLink.click();
        }
        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 4; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++)
                    row.push(cols[j].innerText);

                csv.push(row.join(","));
            }

            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }
    </script>



</body>
</html>
